.env, pycache
# Python кэш
__pycache__/
*.pyc

# Виртуальное окружение
.venv/
venv/
env/

# Файлы IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Файлы с паролями (не коммить!)
passwords.txt
secret_passwords.txt
*.key
